html {
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* NAV */

#container {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 100%;
}

.content_link {
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

#left_aligned_bar {
  grid-column-start: 1;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

#nav_container {
  border-right: 1px solid #1a1a1a;
}

/* HOME */


#site_content {
  grid-column-start: 2;
  color: white;
}

#home_blurb {
  text-align: center;
  font-size: 1.5em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #E7A287;
}

#home_gallery {
  height: 50vh;
  width: 60vw;
  margin: 2em auto;
  background-color: yellowgreen;
}

.container_pg_layout_01 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.left_gallery_layout_01 {
  grid-column-start: 1;
  background-color: yellowgreen;
}

.article_layout_01 {
  grid-column-start: 2;
}

.article_content_layout_01 {
  line-height: 1.6;
}

.article_title_layout_01 {
  text-align: center;
  
}

.right_gallery_layout_01 {
  grid-column-start: 3;
  background-color: yellowgreen;
}


/* MOBILE */

@media only screen and (max-width: 435px) {
  div#home_gallery {
    display: none;
  }

  div.container_pg_layout_01{
    display: inline-block;
  }

  div.article_layout_01 {
    font-size: 16px;
  }

  div.article_layout_01 {
    margin: auto 2em;
  }

  div.left_gallery_layout_01 {
    display: none;
  }

  div.right_gallery_layout_01 {
    margin: auto;
    width: 70vw;
    height: 10vh;
  }

  div.right_gallery_layout {
    display: inline-block;
  }
}
